<?xml version="1.0"?>
<config>
    <modules>
        <Helloscan_Scan>
            <version>0.0.1</version>
        </Helloscan_Scan>
    </modules>
    <global>
        <helpers>
            <helloscan_scan>
                <class>Helloscan_Scan_Helper</class>
            </helloscan_scan>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <scan>
                                            <title>HelloScan</title>
                                        </scan>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <scan>
                <use>standard</use>
                <args>
                    <module>Helloscan_Scan</module>
                    <frontName>scan</frontName>
                </args>
            </scan>
        </routers>  
    </frontend>
</config>
